<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="style.css">
    <title>7thhour.info</title>
</head>
<body>
    <div id="app">
    <main>
        <div class="main-container">
            <div class="content">
                <div class="bh">B"H</div>
                <h1>Check the exact time of the 7th hour in your area</h1>
                <p class="sub-heading">The 7th hour is the time on Friday evening when it is preferable to refrain from making kiddush (Shulchan Aruch Alter Rebbe 271:3)</p>
                <section v-show="showResults" class="results-section">
                    <div class="results-box">
                        <div class="location">
                            <h4>Location</h4>
                            <span class="results-location-span">{{locationResults}}</span>
                        </div>
                        <div class="time">
                            <h4>7th Hour</h4>
                            <span class="results-time-span">{{timeResults}}</span>
                            <i class="daylight-saving-time" v-show="dstActive">Result includes DST</i>
                        </div>
                    </div>
                    <button @click="openEmailForm()" class="email-me-results">
                        <img src="images/mail.svg" alt="">
                        <span>Send me my results</span>
                    </button>
                    <div v-show="showEmailForm">
                        <form @submit="submitEmailForm" class="input-email-bar">
                            <input v-model="emailInput" type="email" class="email-input" placeholder="Email address">
                            <input type="submit" class="email-input-btn" value="Send">
                        </form>
                        <div v-show="showEmailDeliveryStatus" class="email-delivery-status">
                            <h5 v-show="emailSentSuccess">Results successfully sent to {{email}}</h5>
                            <h5 v-show="!emailSentSuccess">Failed to send results to {{email}}</h5>
                        </div>
                    </div>


                    <h2>Try another location</h2>
                </section>
                <div @submit="submitLocationInput" class="actions">
                    <form class="input-location-bar">
                        <input type="text" class="location-input" placeholder="Enter an Address, City or Post/Zip code" v-model="locationInput">
                        <input type="submit" class="location-input-btn">
                    </form>
                    <span>Or</span>
                    <button @click="getLocation" class="get-location-btn">
                        <span>My Location</span>
                        <img src="images/location.svg" alt="">
                    </button>
                </div>
                <p class="get-location-error"></p>
            </div>
            <div class="hero-img-wrapper">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-top">
                <button class="change-language small-screen">
                    <img src="images/hebrew.png" alt="">
                    <div>Hebrew</div>
                </button>
            <div class="rabbinic-approvals">
                <h3>Rabbinic Approvals:</h3>
                <p>Dayan Rabbi Levy Y Raskin - London, UK</p>
                <p>Dayan Rabbi Random Rav - New York, USA</p>

            </div>
            <div class="articles">
                <h3>Articles:</h3>
                <p><a href="#">This is the heading of a random article about the  seventh hour.</a></p>
                <p><a href="#">Another heading of a random article about the  seventh hour.</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <button class="change-language big-screen">
                <img src="images/hebrew.png" alt="">
                <div>Hebrew</div>
            </button>
            <div class="contact">For comments or questions please email <a href="mailto:kiddushtime@gmail.com">kiddushtime@gmail.com</a></div>
            <div class="powered-by">Powered by <a target="_blank" href="https://cybercliff.com">CyberCliff</a></div>
        </div>
    </footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>